API_ID=5656012
API_HASH=241912e3f7df538e07d4c65c4142c03f
BOT_TOKEN=5982632596:AAFaIGqlnFL2iiNb7zZwv70oVMR43q5fe04
SESSION_STRING=BAAbeCdGC0AsuJv59sp_b1etHSjERZc8uZwTlfxTkCSv6qmllVFmbEY0OI12kYpEBjk9XTemKfK8kZec9FYr-U7j82P66HumUT-v4qP_ANcdTYLVFFO6qBUK3GU1sXWrdblt4TG1aixoZcui6JGNrdCy7ZwFbsyidSAk-QbrfybRKHCXyyo2sCsI5tYBZ0xRbLxMshxTHSWb0RpGIta_-En2imEW5cJjPkJVQCcCZnJBcP6jTRz3wfgR31x4KM2V4wgsWIQmJRauOaEo6vYTeOVYjlZwgksa_jdG9wq5seo3i8DBDMdfhQQxDgkyXoNP7clxstQfLXMpy7EhDUymBRX8amCHcgA
CHAT=-1001618070471
ADMINS=1784711026
